body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  
  }
  .quest-box {
    background: rgba(151, 152, 224, 0.2);
    padding: 32px;
    margin-top: 100px;
  }
  .questions li {
    list-style-type: none;
    padding-left: 0;
    background-color: #f3f5f7;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-style: inherit;
    color: black;
  }
  .questions li.active {
    background: rgb(5, 5, 172);
    color: #fff;
  }
  p.category {
    font-size: 20px;
    color: #052b52;
  }
  .heading {
    margin-bottom: 32px;
  }
  .badge {
    font-size: 32px;
  }
  .btn-primary {
    color: #fff;
    font-size: 24px;
  }
 
  